* {
   /* border-style: solid; */
}

body {
    display: flex;
    
    background-color: white;
    scroll-behavior: smooth;
    
}

.header {

    position: sticky;
        
}

.container {

    
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    

}

.footer-container {

    bottom: 0;
    position: absolute;
    
    width: auto;
}

.logo {
    margin-right: auto;
    margin-left: 15px;
}
.letter-z {

    color: blue;
}




svg {
    width: 23.984px;
    height: 23.984px;
    margin: 5px;

}

a {

    cursor: pointer;
    margin-right: 25px;
    

}