* {
   /* border-style: solid; */
   
}

body {


    margin: 0px;
    
    
}



.containerHero {

    margin: 0px;
    padding: 0px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(90deg, #7CB9E8, #7FFFD4);


}

.heroText {

    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    border-style: solid;
    top: 50px;

}



.picture {

    
    position: relative;
    margin-left: 50%;

}

.heroItem {

   border-style: solid;

}


.header {

    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    
        
}

.headerLinks {

    display: flex;
    align-items: center;
    


}

.links {

   
   margin-right: 10px;

}

.containerHeader {

    
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    

    

}

.footer-container {

    
    margin-top: 100vh;
    
    
    
    
}

.logo {

    
    margin-right: auto;
    margin-left: 15px;
}


.letter {

    color: blue;
}




svg {

    
    width: 23.984px;
    height: 23.984px;
    margin: 5px;

}




.tiny5-regular {
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0px;
    

  }

  
  .myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

 
  
  
  