* {
   /* border-style: solid; */
   
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    

    margin: 0;
}

.border-image {

    display: flex;
    position: absolute;
    margin-left: 25%;
   
    width: 720px}


/* div {

    border-style: solid;
}

*/

.header {

    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
        
}

.container {

    
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    

}

.footer-container {

    
    margin-top: 100vh;
    
    
    
    
}

.logo {

    
    margin-right: auto;
    margin-left: 15px;
}
.letter {

    color: blue;
}

.h6 {

    margin-left: 25px;

}




svg {

    
    width: 23.984px;
    height: 23.984px;
    margin: 5px;

}

a {

    cursor: pointer;
    margin-right: 25px;
    

}

section {


    background-color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    /*border-style: solid;*/
    margin-left: 10vh;
    margin-right: 10vh;
    
    
}

.border-image {

    position: sticky;
    top: 10;
   
}

.tiny5-regular {
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0px;
    

  }

  .h1-top {

    margin-top: 10vh;
    

  }

  /* .h1-bottom {

     
    margin-right: auto; 
    margin-left: 20vh; 



  } */
 
  p {

    margin-top: 5vh;

  }
  
  
  